.home {
    background-image: url("http://localhost:8080/public/manor.jpg");
    background-size: cover;
    height: 100vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}

.home__header {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.home__copy {
    color: white;
    text-align: center;
    padding: 0 6rem;
    font-size: 18.5px;
}

.home__button {
    display: block;
    width: 10rem;
    height: 2rem;
    text-transform: uppercase;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 2.5rem;
}

.home__button:hover {
    background-color: red;
    color: white;
    font-weight: bold;
}



