.guestroom {
    background-image: url("http://localhost:8080/public/bedroom.jpg");
    background-size: cover;
    height: 100vh;
}

.guestroom__title {
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 1.5rem;
}

.guestroom__back {
    background-color: white;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 4px;
}

.guestroom__back:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
}

.guestroom-item {
    display: block;
    width: 5rem;

    &__container {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 33rem;
        left: 54rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover > .guestroom-item__tooltip {
            display: block;
        }
    }

    &__tooltip {
        display: none;
        background-color: black;
        color: white;
    }
}